@page "{albumId:Guid}/{imageId:Guid}"
@model Foundant.ImageStore.Web.Pages.Album.Image.IndexModel
@{
}


<div style="display: flex; flex-direction: column; margin-left: auto; margin-right: auto">
    <div style="display: flex; width: 50%; justify-content: center">

        <div>
            <img src="~/albums/@Model.ImageToEdit.AlbumId/@Model.ImageToEdit.ImageId@Model.ImageToEdit.Extension" alt="@Model.ImageToEdit.ImageName" />
        </div>
        <form method="post">
            <input asp-for="ImageToEdit.AlbumId" type="hidden" />
            <input asp-for="ImageToEdit.ImageId" type="hidden" />
            <div style="display: flex; flex-direction: row">
                <div>
                    <label asp-for="ImageToEdit.ImageName">Name:</label>
                </div>
                <div>
                    <input asp-for="ImageToEdit.ImageName" />
                </div>
            </div>
            <div style="display: flex; flex-direction: row">
                <div>
                    <label asp-for="ImageToEdit.ImageDescription">Description:</label>
                </div>
                <div>
                    <input asp-for="ImageToEdit.ImageDescription" />
                </div>
            </div>
            <div>
                <button type="submit">Update</button>
            </div>
        </form>
    </div>
    <div style="display: flex; flex-direction: column; width: 50%; justify-content: center">
        <div>
            <form method="post" asp-action="AddTagAsync">
                <input asp-for="AddTag.AlbumId" type="hidden" />
                <input asp-for="AddTag.ImageId" type="hidden" />
                <div style="display: flex; flex-direction:row">
                    <div>
                        <label asp-for="AddTag.Tag">Tag:</label>
                    </div>
                    <div>
                        <input asp-for="AddTag.Tag" type="text" value="" />
                    </div>
                </div>
            </form>
        </div>
        <div>

            @if (Model.ImageToEdit.Tags != null && Model.ImageToEdit.Tags.Count() > 0)
            {
                <ul>
                    @foreach (var tag in Model.ImageToEdit.Tags)
                    {
                        <li>
                            @tag
                        </li>
                    }
                </ul>
            }
            else
            {
                <span>No tags assigned</span>
            }
        </div>
    </div>
</div>
