/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.formField {
    appearance: none;
    background-color: transparent;
    border-style: none;
    width: 100%;
    color: #808080;
    margin-right: .75rem;
    padding: .25rem .5rem;
    line-height: 1.25rem;
}

.formField:focus {
    outline: none;
}

.formButton {
    display: flex;
    flex-shrink: 0;
    font-size: 0.875rem;
    padding: .50rem 1.5rem;
    background: #808080;
    border: 1px solid #808080;
    line-height: 1.25rem;
    border-radius: .25rem;
    color: #ffffff;
}

    .formButton:hover {
        background-color: #bfbfbf;
        border: 1px solid #e6e6e6;
        color: #000000;
    }

.buttonBadge {
    border-radius: 9999px;
    background-color: #006fe6 !important;
    padding: .15rem 1rem;
    font-size: 0.875rem;
    color: #ffffff;
    float: right;
    border: 1px solid #ffffff;
    line-height: 1.25rem;
}

.formSelect {
    display: block;
    appearance: none;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #b0b0b0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: .25rem;
    margin-right: 2rem;
    line-height: 1.25rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

    .formSelect:hover {
        border: 1px solid #535353;
    }

    .formSelect:focus {
        box-shadow: 0 0 0 3px rgba(66,153,225,.5);
        outline: 2px solid transparent;
        outline-offset: 2px;
    }

.formGroupField {
    background-color: #eeeeee;
    appearance: none;
    border: 1px solid #dcdcdc;
    border-radius: .25rem;
    width: 100%;
    line-height: 1.25rem;
    padding-left: .75rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.formGroupLabel {
    display: block;
    color: #121212;
    font-weight: 500;
    margin-bottom: .25rem;
    padding-right: 1rem;
    text-align: right
}

.formGroup {
    display: flex;
    align-content: center;
    margin-bottom: .5rem;
}

.tagItem {
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #eeeeee;
    appearance: none;
    border: 1px solid #dcdcdc;
    border-radius: .25rem;
    margin-right: .5rem;
}